{% load staticfiles %}

<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OKCIPAY</title>

    <!-- Bootstrap -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/bootstrap.min.css' %}">

    <!-- my css-styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/mainstyle.css' %}">

    <!-- Вставка HTML5 поєднується з Respond.js для підтримки в IE8 елементів HTML5 та медіа-запитів -->
    <!-- ЗАСТЕРЕЖЕННЯ: файл Respond.js не працює, якщо ви проглядаєте сторінку відкривши її з файлової системи -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="body">
        <div class="container">
            <img src="{% static 'static/logoheaderOP1.jpg' %}" align="right">

            <div class="row">
                <div class="col-sm-9">
                    {% if username %}
                        {% block main_content %}{% endblock %}
                    {% else %}
                    <hr />
                    <ol class="breadcrumb">
                        <li><a href="/">Ви тут: Головна</a></li>
                    </ol>
                    <hr />
                    <h4>
                        OKCIPAY.IN.UA
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    {% endif %}

                    {% block login %}{% endblock %}
                </div>
               <div class="col-sm-3">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4>Особистий Кабінет</h4>
                       </div>
                       <div class="panel-body">
            <ul class="list-unstyled">
                {% if username %}
                    <li><a href="/">Головна</a></li>
                    <li><a href="/accounts/">Мої рахунки</a></li>
                    <li><a href="/auth/profile/">Мій профіль</a></li>
                    <li><a href="/auth/logout/">Вийти</a></li>
                {% else %}
                    <li><a href="/">Головна</a></li>
                    <li><a href="/auth/login/">Увійти в кабінет</a></li>
                {% endif %}
            </ul>
                       </div>
                </div>
                </div>
            </div>


        </div>
    </div>

    <!-- jQuery (потрібно для JavaScript плагінів Bootstrap) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Підключення мінімізованої збірки всіх плагінів jQuery. Можна підключати додаткові плагіни, якщо потрібно -->
    <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
  </body>
</html>
